.loader{
    /* height: 100px; */
    margin: auto;
    padding: 16px;
    /* margin: 0 auto 1em; */
    /* display: inline-block; */
    /* vertical-align:baseline; */
  }
  
  /*
    Set the color of the icon
  */
  svg path,
  svg rect{
    fill: var(--wt-color-primary);
    width: 200px;
  }