/* Damos los estilos a la clase del loader */
.loader {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 16px;
  width: 350px;
  height: 550px;
  align-items: center;
}

/* Establecemos el color para el loader */
svg path,
svg rect {
  fill: var(--wt-color-primary);
}
