/* Definimos la clase para el módulo general de la predicción meteorológica */
.wt-forecast {
  display: flex;
  flex-direction: column;
  padding: var(--wt-padding-container);
  gap: var(--wt-gap-card);
}

.wt-forecast h1 {
  text-align: center;
}

/* Definimos la clase para el contenedor de la predicción meteorológica */
.wt-forecast-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  gap: var(--wt-gap-card);
}

/* Definimos la clase para cada día en la predicción meteorológica */
.wt-forecast-day {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--wt-padding-card);
  gap: var(--wt-gap-container);
  border-radius: var(--wt-radius-general);
  backdrop-filter: var(--wt-backdrop-filter-brightness-card);
}

/* Definimos la clase para los detalles de la predicción */
.wt-forecast-details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--wt-gap-card);
}

/* Definimos la clase para la información en la predicción meteorológica */
.wt-forecast-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: auto;
  margin: auto;
  padding: var(--wt-padding-mini-card);
  gap: var(--wt-gap-mini-card);
  border-radius: var(--wt-radius-general);
  box-shadow: var(--wt-box-shadow-mini-card);
}

/* Declaramos un espacio más pequeño que el normal para adaptarlo */
.wt-forecast-info p {
  font-size: small;
}

/* Definimos la clase para el icono en la predicción meteorológica */
.wt-forecast-icon {
  width: var(--wt-img-mini);
  opacity: var(--wt-opacity-general);
}

/* Definimos la clase para la temperatura en la predicción */
.wt-forecast-temp {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

/* Definimos la clase para el elemento h3 en la temperatura de la predicción */
.wt-forecast-temp h3 {
  display: flex;
}

/* Definimos la clase para el icono de flecha en la predicción */
.wt-forecast-arrow-icon {
  width: var(--wt-img-mini);
  opacity: var(--wt-opacity-general);
}

/* Definimos la clase para el icono del clima en la predicción */
.wt-forecast-weather-icon {
  width: var(--wt-img-big);
  opacity: var(--wt-opacity-general);
}


