.wt-forecast {
  display: flex;
  flex-direction: column;
  padding: var(--wt-padding-container);
  gap: var(--wt-gap-card);
}

.wt-forecast-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--wt-gap-card);
  margin: auto;
}

.wt-forecast-day {
  display: flex;
  flex-direction: column;
  width: 290px;
  gap: var(--wt-gap-card);
  padding: var(--wt-padding-card);
  border-radius: var(--wt-radius-general);
  /* box-shadow: 0 5px 5px 1px rgba(43, 42, 42, 0.089); */
  backdrop-filter: var(--wt-backdrop-filter-brightness);
}

.wt-forecast-details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* padding: 05px; */
  gap: 15px;
}

.wt-forecast-info {
  display: flex;
  flex-direction: column;
  /* flex-direction: row; */
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: auto;
  gap: 5px;
  padding: 8px;
  margin: auto;
  border-radius: var(--wt-radius-card);
  box-shadow: 0 3px 9px 1px rgba(43, 42, 42, 0.226);
  /* border: 1px solid white; */
  /* background-color: #b6b6b670; */
  /* box-shadow: 0 3px 9px 1px rgba(43, 42, 42, 0.13); */
  /* backdrop-filter: blur(50px); */
}

.wt-forecast-info p {
  /* font-weight: 500; */
  color: white;
  opacity: 100%;
  font-size: small;
}

.wt-forecast-icon {
  width: 24px;
}

.wt-forecast-temp {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.wt-forecast-temp h3 {
  display: flex;
}

.wt-forecast-arrow-icon {
  width: 24px;
  /* opacity: 0.8; */
}

.wt-forecast-weather-icon {
  width: 60px;
  opacity: 0.8;
}
