.wt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  text-align: center;
}

.wt-temp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wt-temp-icon {
  width: 70px;
}

.wt-temp-celsius {
  display: flex;
  flex-direction: column;
}

.wt-temp-max-min {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.wt-weather {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.wt-weather-info {
    display: flex;
    justify-content: space-evenly;
    width: 80px;
    border-radius: 10px;
    background-color: #86868696;
}

.danger {
  background-color: var(--wt-color-danger);
}

.caution {
  background-color: var(--wt-color-caution);
}

.safe {
  background-color: var(--wt-color-safe);
}

.wt-sunrise-sunset {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wt-sunrise-sunset-icon {
    width: 24px;
    height: 24px;
  }