/* Añadimos esta clase para quitar la visualización de aquellos elementos que deseemos */
.none {
  display: none !important;
}

.wt-current {
  display: flex;
  flex-direction: column;
justify-content: center;
  /* justify-content: space-between; */
  /* width: max-content; */
  gap: 15px;
  margin: 20px;
  text-align: center;
  height: min-content;
}

.wt-temp {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.wt-temp-icon {
  width: 80px;
  opacity: 0.7;
  /* background-color: rgba(0, 0, 0, 0.5); */
}

.wt-temp-celsius {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: right;
}

.wt-temp-celsius h2 {
  font-size: var(--wt-typography-h1);
}

.wt-temp-celsius p {
  font-weight: 700;
}

.wt-temp-max-min-container {
  display: flex;
  flex-direction: row;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.wt-temp-max-min {
  display: flex;
  flex-direction: row;

  gap: 5px;
  text-shadow: 1px;
  font-weight: 700;
}

.wt-temp-max-min h3 {
  text-shadow: 1px;
}

.wt-temp-max-min-icon {
  width: 32px;
  height: 32px;
  /* width: max-content;
  height: max-content; */
}

.wt-temp-max-min-line {
  height: 11px;
  opacity: 0.65;
}

.wt-weather {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.wt-weather-info {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: auto;
  /* width: 90px; */
  height: auto;
  /* gap: 2px; */
  padding: 5px;
  margin: auto;
  border-radius: 10px;
  /* background-color: #b6b6b670; */
  box-shadow: var(--wt-box-shadow-mini-card);
  /* box-shadow: 0 3px 9px 1px rgba(43, 42, 42, 0.13); */
  /* backdrop-filter: blur(50px); */
}

.wt-weather-info p {
  text-align: right;
}

.title {
  font-weight: 400;
}

.wt-weather-content {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  align-items: center;
  gap: 5px;
}

.wt-weather-forecast {
  display: flex;
  flex-direction: column;
  gap: 15px;
  backdrop-filter: blur(20px);
  backdrop-filter: brightness(87%);
  border-radius: 10px;
  padding: 20px;
  /* box-shadow: 0 3px 9px 1px rgba(43, 42, 42, 0.226); */
}

.wt-weather-forecast-title{
  font-weight: 300;
  text-transform: uppercase;
  /* text-decoration:wavy; */
  /* text-shadow: 1px 1px rgba(0, 0, 0, 0.201); */
  /* font-family: var(--wt-typography-heading); */
  /* font-style: oblique; */
}

.danger {
  background-color: var(--wt-color-danger);
}

.caution {
  background-color: var(--wt-color-caution);
}

.safe {
  background-color: var(--wt-color-safe);
}

.wt-sunrise-sunset-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* box-shadow: 0 3px 9px 1px rgba(43, 42, 42, 0.226); */
  /* backdrop-filter: blur(100px); */
}

.wt-sunrise-sunset {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

/* Cambiamos la fuente por defecto para adaptarlo mejor */
.wt-sunrise-sunset h3 {
  /* font-size: 20px; */
}

.wt-sunrise-sunset-icon {
  width: 32px;
  height: 32px;
  opacity: 0.8;
}
