   .card {
    display: flex;
    flex-direction: row;
    /* Color de fondo semi-transparente */
    background-color: #86868648; 
    /* Aplicar un desenfoque al fondo */
    backdrop-filter: blur(8px); 
    border-radius: 10px;
    padding: 20px;
    /* z-index: -1; */
  }

