/* Establecemos los estilos generales de la invisibleCard */
.invisible-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    width: 350px;
    max-height: 550px;
    /* Color de fondo semi-transparente */
    background-color: var(--wt-color-container);
    box-shadow: var(--wt-box-shadow-container);
    border-radius: var(--wt-radius-general);
    overflow: auto;
  }
