.invisible-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* gap: 100px; */
    /* align-content: space-between; */
/* justify-content: space-between; */
    /* Color de fondo semi-transparente */
    /* background-color: #86868648;  */
    /* Aplicar un desenfoque al fondo */
    /* backdrop-filter: blur(8px);  */
    /* border: 1px white solid; */
    border-radius: 10px;
    padding: 20px;
    max-width: 250px;
    /* height: 400px; */
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
  }
