/* Definimos los estilos generales de la barra de búsqueda */
.wt-search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--wt-radius-general);
  backdrop-filter: var(--wt-backdrop-filter-brightness-cta);
}

/* Establecemos los estilos del input */
#wt-search-city {
  width: 100%;
  padding: var(--wt-padding-cta);
  border: none;
  border-radius: var(--wt-radius-general);
  background-color: transparent;
  color: var(--wt-color-primary);
  font-family: var(--wt-typography-body);
  font-size: large;
  font-weight: 200;
}

/* Definimos el estilo del campo de entrada del input */
#wt-search-city::placeholder {
  color: var(--wt-color-primary);
}

/* Damos estilos al select */
#wt-search-select {
  padding: var(--wt-padding-mini-card);
  margin: var(--wt-margin-cta);
  border: none;
  border-radius: var(--wt-radius-general);
  background-color: transparent;
  color: var(--wt-color-primary);
  font-family: var(--wt-typography-body);
  font-size: large;
  font-weight: 200;
  box-shadow: 1px 1px 30px 8px rgba(43, 42, 42, 0.548);
}

/* Estilamos los elementos del select y su lista deplegable */
#wt-search-select option {
  background-color: #494949;
  color: var(--wt-color-primary);
  font-family: var(--wt-typography-body);
  font-weight: 200;
  box-shadow: 1px 1px 30px 8px rgba(43, 42, 42, 0.548);
}
