.wt-search-container {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 20px;
    align-items: center;
    width: max-content;
}

.wt-search-icon {
    width: 24px;
    opacity: 0.9;
}

#wt-search-city {
    border: none;
    border-radius: 10px;
    padding: 5px;
    font-family: var(--wt-typography-body);
    backdrop-filter: blur(1000px);
    /* border: 1px solid white; */
    /* color: black; */
    background-color: transparent;
    /* text-align: ce; */
    /* opacity: 0.; */
    color: var(--wt-color-primary);
    font-size:large;
    font-weight: 200;
    padding-left: 15px;
      /* background-color: #b6b6b670; */
  box-shadow: 0 3px 9px 1px rgba(43, 42, 42, 0.226);
  /* backdrop-filter: blur(400px); */
  backdrop-filter: brightness(80%);
  /* backdrop-filter: contrast(35%); */
  /* backdrop-filter: invert(15%); */
  /* backdrop-filter: opacity(90%); */
  /* backdrop-filter: saturate(60%); */
}

#wt-search-city::placeholder {
    color: var(--wt-color-primary);
  }