/* Damos el formato general al toggle */
.wt-toggle {
  display: none;
  border-radius: var(--wt-radius-general);
  border-radius: var(--wt-radius-general);
  backdrop-filter: var(--wt-backdrop-filter-brightness-cta);
}

/* Estilamos el botón de toggle */
.wt-toggle-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: var(--wt-margin-cta);
  gap: var(--wt-gap-cta);
  border: none;
  background-color: transparent; 
}

/* Estilamos el icono del toggle */
.wt-toggle-button-icon {
  width: var(--wt-img-small);
  height: var(--wt-img-small);
  opacity: var(--wt-opacity-general);
}

/* TABLET DISPLAY */
@media screen and (min-width: 425px) and (max-width: 768px) {
  /* Hacemos visible el cta del toggle */
  .wt-toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

/* MOBILE DISPLAY */
@media screen and (max-width: 425px) {
  /* Hacemos visible el cta del toggle */
  .wt-toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
