/* Distribuímos el contenido de la app */
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 100vh;
}

/* TABLET DISPLAY */
@media screen and (min-width: 425px) and (max-width: 768px) {
/* Eliminamos la card del forecast para darle paso por toggle */
  .wt-app-forecast {
    display: none;
  }
}

/* MOBILE DISPLAY */
@media screen and (max-width: 425px) {
  /* Eliminamos la card del forecast para darle paso por toggle */
  .wt-app-forecast {
    display: none;
  }

}