/* Distribuímos las cards */
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 100vh;
}

.wt-app-weather {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.wt-app-forecast {
  display: flex;
}

/* TABLET DISPLAY */
@media screen and (min-width: 425px) and (max-width: 768px) {
  .wt-app-forecast {
    display: none;
  }
}

/* MOBILE DISPLAY */
@media screen and (max-width: 425px) {
  .wt-app-forecast {
    display: none;
  }

}